@import "./base";
@import "./variables";
@import "./mixins";

#navbar-container {
    color: white;
    font-size: 1.6rem;
    height: 9.9rem;
    background-color: $background-color;
    
    .container {
        display: grid;
        grid-template-rows: 5.4rem 4.5rem;
    }
    
    #top-nav {
        margin: .7rem 0;
        display: grid;
        grid-template-rows: 60px;
        grid-template-columns: 20rem 1fr 40rem;
        
        #side-nav-button {
            height: 3.6rem;
            margin: 0 .7rem;
            border: 1px solid rgb(102, 102, 102);
            border-radius: .3rem;
            padding: .6rem;
            float: left;
            &:hover {
                border-color: white;
                cursor: pointer;
            }
        }
        
        #logo {
            margin: 0 .1rem;
            float: left;
            font-weight: bold;
            &:hover {
                cursor: pointer;
            }
            .title { font-size: 2rem; }
            .icon{
                height: 2rem;
                float: left;
            }
            .sub-title {
                //color: rgb(135, 135, 135);
                color: #48a3c6;
                font-size: 1.2rem;
                text-decoration: underline;
                
                margin: -.2rem .6rem;
                float: left;
            }
            
        }
        
        #search-bar {
            float: left;
            margin-right: 2rem;
            border-radius: .3rem;
            height: 3.5rem;
            overflow: hidden;
            display: grid;
            grid-template-columns: 3.5rem 1fr 4.5rem;

            #search-drop-down {
                float: left;
                //padding: .5rem;
                font-size: 1.2rem;
                vertical-align: middle;
                #title {
                    width: 3.5rem;
                    padding: 1rem 0;
                    margin: auto;
                    text-align: center;
                }
                height: 100%;
                background-color: rgb(243, 243, 243);
                color: rgb(17, 17, 17);
                &:hover {
                    cursor: pointer;
                }
            }
    
            #input {
                width: 100%;
                padding: .6rem 1rem;
                height: 3.5rem;
                float: left;
            }
            .icon {
                background-color: $orange-light;
                height: 100%;
                padding: .6rem;
                width: 4.5rem;
                border-radius: 0 .3rem .3rem 0;
                &:hover {
                    cursor: pointer;
                }
            }
            
        }
        
        #nav-tools {
            height: 4.7rem;
            font-weight: bold;
            
            #lang-drop-down {
                @include hoverSelect;
                width: 4.3rem;
                float: left;
                font-size: 1.2rem;
                color: $dark-grey;
                .icon {
                    height: 1.4rem;
                }
            }
            
            #sign-in {
                float: left;
                @include hoverSelect;
                .title {
                    font-size: 1.2rem;
                    color: $dark-grey;
                }
                .sub-title{
                    font-size: 1.4rem;
                    color: white;
                }
            }
            #orders {
                @include hoverSelect;
                font-size: 1.4rem;
                float: left;
                padding: .5rem .9rem;
            }
            #try-prime {
                @include hoverSelect;
                font-size: 1.4rem;
                float: left;
                padding: .5rem .9rem;
            }
            #cart {
                @include hoverSelect;
                height: 100%;
                
                #count {
                    color: $orange-dark;
                    float: left;
                    position: relative;
                    left: 2.8rem;
                }
                .icon {
                    top: 0;
                    height: 4rem;
                    float: left;
                }
                .title {
                    font-size: 1.4rem;
                    vertical-align: middle;
                    float: left;
                    padding: 1.5rem 0 0 .2rem;
                }
            }
        }
    }
    
    
    #bottom-nav {
        padding-top: .8rem;
        display: grid;
        grid-template-columns: 20rem 1fr;
        
        #select-address {
            margin-left: 1rem;
            .title {font-size: 1.2rem;}
            .sub-title {font-size: 1.4rem;}
            &:hover {cursor: pointer;}
            .icon {
                float: left;
                height:2.5rem;
            }
        }
        
        #links {
            .link {
                float: left;
                padding: .7rem .8rem;
                font-size: 1.3rem;
                color: $dark-grey;

                &:hover {
                    padding: .6rem .7rem;
                    @include hoverSelect;
                    //border: .1rem solid rgba(255, 255, 255, 0.2);
                    //cursor: pointer;
                    //border-radius: .3rem;
                }
                &:first-child {
                    margin-left: -.7rem;
                }

            }
        }
    }
}


